<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>
    <script type="text/javascript" th:src="@{/static/plugins/jquery/jquery-3.4.1.js}"></script>
    <script type="text/javascript" th:src="@{/static/plugins/layui/layui.js}"></script>

    <link rel="stylesheet" th:href="@{/static/plugins/layui/css/layui.css}"/>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin" style="background-color: white;">
    <div class="layui-header">
        <div class="layui-logo">管理系统</div>
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item layadmin-flexible" >
                <a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
                    <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
                </a>
            </li>
            <li class="layui-nav-item" lay-unselect="">
                <a href="/index" layadmin-event="refresh" title="刷新">
                    <i class="layui-icon layui-icon-refresh-3"></i>
                </a>
            </li>
            <li class="layui-nav-item layui-hide-xs" lay-unselect="">
                <input type="text" placeholder="搜索..." autocomplete="off" class="layui-input layui-input-search" layadmin-event="serach" lay-action="template/search.html?keywords=">
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;"><i class="layui-icon layui-icon-notice"></i></a>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;"><i class="layui-icon layui-icon-theme"></i></a>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;"><i class="layui-icon layui-icon-note"></i></a>
            </li>
            <li class="layui-nav-item">
                欢迎光临，Admin
            </li>
            <li class="layui-nav-item">
                <a href="/loginout">安全退出</a>
            </li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧垂直导航区域-->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="javascript:;" class="layui-icon layui-icon-home">主页</a>
                    <dl class="layui-nav-child">
                        <dd  class="layui-this"><a href="javascript:;" data-id="1" data-title="控制台" data-url="/console" class="site-active" data-type="tabAdd">
                            <i class="layui-icon layui-icon-console"></i>
                            <span>控制台</span></a>
                        </dd>
                        <dd><a href="javascript:;" data-id="2" data-title="主题设置" data-url="" class="site-active" data-type="tabAdd">
                            <i class="layui-icon layui-icon-theme"></i>
                            <span>主题设置</span></a>
                        </dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;" class="layui-icon layui-icon-user">用户</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" data-id="3" data-title="系统用户" data-url="/sysUser" class="site-active" data-type="tabAdd">
                            <i class="layui-icon layui-icon-username"></i>
                            <span>系统用户</span></a>
                        </dd>
                        <dd><a href="javascript:;" data-id="4" data-title="后台管理员" data-url="/adminUser" class="site-active" data-type="tabAdd">
                            <i class="layui-icon layui-icon-friends"></i>
                            <span>后台管理员</span></a>
                        </dd>
                        <dd><a href="javascript:;" data-id="5" data-title="角色管理" data-url="" class="site-active" data-type="tabAdd">
                            <i class="layui-icon layui-icon-face-surprised"></i>
                            <span>角色管理</span></a>
                        </dd>
                        <dd><a href="javascript:;" data-id="6" data-title="权限管理" data-url="" class="site-active" data-type="tabAdd">
                            <i class="layui-icon layui-icon-auz"></i>
                            <span>权限管理</span></a>
                        </dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;" class="layui-icon layui-icon-set">设置</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" data-id="7" data-title="系统设置" data-url="" class="site-active" data-type="tabAdd">
                            <i class="layui-icon layui-icon-face-surprised"></i>
                            <span>系统设置</span></a>
                        </dd>
                        <dd><a href="javascript:;" data-id="8" data-title="我的设置" data-url="" class="site-active" data-type="tabAdd">
                            <i class="layui-icon layui-icon-face-surprised"></i>
                            <span>我的设置</span></a>
                        </dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <!--tab标签-->
    <div class="layui-tab" lay-filter="content" lay-allowclose="true" style="margin-left: 200px;">
        <ul class="layui-tab-title"></ul>
        <div class="layui-tab-content">
        </div>
    </div>

    <div class="layui-footer" style="text-align:center;">
        <!-- 底部固定区域 -->
        ©dxk 管理平台
    </div>
</div>
<script>
    layui.use(['element', 'layer', 'jquery'], function () {
        var element = layui.element;
        var $ = layui.$;

        /*页面嵌套显示--开始*/
        // 配置tab实践在下面无法获取到菜单元素
        $('.site-active').on('click', function () {
            var dataid = $(this);
            //这时会判断右侧.layui-tab-title属性下的有lay-id属性的li的数目，即已经打开的tab项数目
            if ($(".layui-tab-title li[lay-id]").length <= 0) {
                //如果比零小，则直接打开新的tab项
                active.tabAdd(dataid.attr("data-url"), dataid.attr("data-id"), dataid.attr("data-title"));
            } else {
                //否则判断该tab项是否以及存在
                var isData = false; //初始化一个标志，为false说明未打开该tab项 为true则说明已有
                $.each($(".layui-tab-title li[lay-id]"), function () {
                    //如果点击左侧菜单栏所传入的id 在右侧tab项中的lay-id属性可以找到，则说明该tab项已经打开
                    if ($(this).attr("lay-id") == dataid.attr("data-id")) {
                        isData = true;
                    }
                });
                if (isData == false) {
                    //标志为false 新增一个tab项
                    active.tabAdd(dataid.attr("data-url"), dataid.attr("data-id"), dataid.attr("data-title"));
                }
            }
            //最后不管是否新增tab，最后都转到要打开的选项页面上
            active.tabChange(dataid.attr("data-id"));
        });

        var active = {
            //在这里给active绑定几项事件，后面可通过active调用这些事件
            tabAdd: function (url, id, name) {
                //新增一个Tab项 传入三个参数，分别对应其标题，tab页面的地址，还有一个规定的id，是标签中data-id的属性值
                //关于tabAdd的方法所传入的参数可看layui的开发文档中基础方法部分
                element.tabAdd('content', {
                    title: name,
                    content: '<iframe data-frameid="' + id + '" scrolling="auto" frameborder="0" src="' + url + '" style="width:100%;height:99%;"></iframe>',
                    //规定好的id
                    id: id
                });
                //计算iframe层的大小
                FrameWH();
            },
            //切换到指定Tab项根据传入的id传入到指定的tab项
            tabChange: function (id) {
                element.tabChange('content', id);
            },
            //删除
            tabDelete: function (id) {
                element.tabDelete("content", id);
            }
        };
        function FrameWH() {
            var h = $(window).height();
            $("iframe").css("height",h+"px");
        }
        /*页面嵌套显示--结束*/
    });
</script>
</body>
